#confirmBtn{
    padding-bottom: 2%;
    
}
/* styles.css */
.test {
    background-color: #E9ECEF;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .test div {
    display: flex;
    align-items: center;
  }
  
  /* Target the img directly within .test class */
  .test img {
    margin-right: 8px;
    width: 20px; /* Adjust the width to make the image smaller */
    height: auto; /* Maintain aspect ratio */
  }
  